<header>
  <h1>Log (<%= settings.articles.size %>)</h1>
</header>

<ul>
  <% settings.articles.each do |article| %>
    <li>
      <a href="<%= url("/log/#{article.slug}") %>"><%= article.title %></a>
      - <%= article.date.strftime('%Y/%m/%d') %>
    </li>
  <% end %>
</ul>
