<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" media="screen" href="/css/github-markdown.css">
    <link href="/log/feed.atom" rel="alternate" title="ATOM" type="application/atom+xml">
    <style>
      .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }
    </style>
  </head>
  <body>
    <div class="markdown-body">
      <%= yield %>
    </div>
  </body>
</html>
