<article>
  <header>
    <h1><%= article.title %></h1>
  </header>
  <time class="timeago" datetime="<%= article.date.xmlschema %>">
    <%= article.date.strftime("%Y/%m/%d") %>
  </time>
  <section class="content">
    <%= markdown article.content,
      autolink: true, no_intra_emphasis: true, fenced_code_blocks: true %>
  </section>
</article>
